.Table {
    display: table;
    width: 100%;
    margin-top: 25px;
  }
  
  .TableRow {
    display: table-row;
  }
  .TableHeading {
    display: table-header-group;
    background-color: #ddd;
  }
  .TableCell,
  .TableHead {
    display: table-cell;
    padding: 15px 10px;
    border: 5px solid white;
  }
  .TableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
  }
  
  .TableRow:nth-child(odd) {
    background-color: beige;
  }
  
  .TableRow:nth-child(even) {
    background-color: white;
  }
  
  .TableHead {
    font-weight: bold;
    color: #000;
    border: 0.1px solid #000;
  }