/* NAV STYLE  */

.menu {
  display: flex;
  /* margin: 0px 0px 0px 20px; */
  height: 50px;
  width: 100%;
  background-color: beige;
}

label {
  padding: 14px;
}

select {
  height: 37px;
  margin: 8px;
  border: 1px solid #c7c7c7;
  border-radius: 11px;
}

/* Fetch css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input_tab {
  padding: 14px 16px;
  margin-top: 11px;
  border-radius: 19px;
  background: beige;
  color: black;
  box-shadow: none;
  outline-width: 0;
  text-align: center;
  font-size: 18px;
  border: none;
}
